.question-box {
    outline: 0.0625rem solid black;
    width: 14rem;
    height: 8rem;
    font-family: 'Allerta', sans-serif;
    text-align: center;
}

.category-title {
    height: 5rem;
    width: 14rem;
    outline: 0.0625rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Allerta', sans-serif;
    font-size: 30px;
    text-align: center;
}

