* {
    color: white;
}

.question-box {
    outline: 0.0625rem solid black;
    width: 16rem;
    height: 8rem;
    font-family: 'Allerta', sans-serif;
    text-align: center;
    background-color: #34657c;
    color: white;
    font-size: 2rem;
}

.question-box:hover {
    border: 0.3125rem solid #8ed081;
    transition: ease 1ms;
    cursor: pointer;
}

.clicked-clue {
    background-color: #34657c;
    font-size: 3.75rem;
    color: white;
    padding-bottom: 6rem;
}

.category-title {
    height: 5rem;
    width: 14rem;
    outline: 0.1875rem solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Allerta', sans-serif;
    font-size: 1.875rem;
    text-align: center;
    outline-offset: -0.125rem;
    background-color: #178b94;
    padding: 0.625rem 1rem;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.answer-button {
    z-index: 1000;
    background-color: #178b94;
    height: 3.125rem;
    width: 12.5rem;
    color: black;
    font-size: 1.5rem;
    border-radius: 2.8125rem;
    cursor: pointer;
    font-family: "Allerta", sans-serif;
    border: solid 0.25rem black;
    position: fixed;
    top: 1rem;
    right: 1rem;
}

.answer-button:hover {
    background-color: #8ed081;
}

.answer {
    color: white;
    z-index: 999;
    padding-top: 5rem;
}

.question-popup {
    background-color: #34657c;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    font-size: 60px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.go-back-button {
    z-index: 1001;
    background-color: #178b94;
    height: 3.125rem;
    width: 12.5rem;
    color: black;
    font-size: 1.5rem;
    border-radius: 2.8125rem;
    cursor: pointer;
    font-family: "Allerta", sans-serif;
    border: solid 0.25rem black;
    position: fixed;
    top: 1rem;
    left: 1rem;
}

.go-back-button:hover{
    background-color: #8ed081;
}


@media all and (min-width: 768px) and (max-width: 1024px) {
    .category-title {
        width: 4.5rem;
        font-size: 1rem;
    }
    .question-box {
        width: 6.5rem;
        height: 4rem;
        font-size: 1rem;
    }

    .clicked-clue {
        font-size: 2rem;
    }

    .answer {
        font-size: 2rem;
    }

    .answer-button {
        height: 3rem;
        width: 10rem;
    }

    .go-back-button {
        height: 3rem;
        width: 10rem;
    }
}