body {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-image: radial-gradient(circle,
                #3b4252,
                #34657c,
                #178b94,
                #3eb094,
                #8ed081);
    height: 100vh;
}

#main-title {
    font-size: 9.375rem;
}

#author-credit {
    font-size: 1.25rem;
    margin-top: 5rem;
}

#data-credits {
    font-size: 1rem;
}

.game-board {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#team-select-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 3.125rem;
    margin-top: -1.875rem;
}

#team-select-header {
    font-size: 2rem;
}

#team-select-dropdown {
    color: black;
    height: 2.25rem;
    font-family: 'Allerta', sans-serif;
    border-radius: 0.625rem;
}

#team-select-dropdown option {
    color: black;
    font-family: 'Allerta', sans-serif;
}

.start-button {
    height: 6.25rem;
    width: 12.5rem;
    font-family: 'Allerta', sans-serif;
    font-size: 2.5rem;
    border-radius: 2.5rem;
    border: 0.3125rem solid black;
    color: #3b4252;
}

.start-button:hover {
    cursor: pointer;
    color: white;
    background-color: #8ed081;
    text-shadow: 0.125rem 0.125rem #3b4252;
}

.scoreboard-container {
    z-index: 1010;
    display: flex;
    justify-content: space-evenly;
    position: sticky;
}

@media all and (min-width: 1024px) and (max-width: 1280px) {}

@media all and (min-width: 768px) and (max-width: 1024px) {
    #main-title {
        font-size: 3rem;
    }
    .start-button {
        font-size: 2rem;
        width: 8rem;
        height: 4rem;
    }

    .scoreboard-container {
        z-index: 1010;
        display: flex;
        justify-content: space-evenly;
        position: sticky;
        margin-top: 10rem;
    }
    
}

@media all and (min-width: 480px) and (max-width: 768px) {}

@media all and (max-width: 480px) {}


/* Portrait */
@media screen and (orientation:portrait) {
    /* Portrait styles here */
}

/* Landscape */
@media screen and (orientation:landscape) {
    /* Landscape styles here */
}


/* CSS for iPhone, iPad, and Retina Displays */

/* Non-Retina */
@media screen and (-webkit-max-device-pixel-ratio: 1) {}

/* Retina */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),
only screen and (min--moz-device-pixel-ratio: 1.5),
only screen and (min-device-pixel-ratio: 1.5) {}

/* iPhone Portrait */
@media screen and (max-device-width: 480px) and (orientation:portrait) {
    #main-title {
        font-size: 3rem;
    }

    .start-button {
        font-size: 2rem;
        width: 8rem;
        height: 4rem;
    }

    .game-board {
        width: 5rem;
    }
}

/* iPhone Landscape */
@media screen and (max-device-width: 480px) and (orientation:landscape) {}

/* iPad Portrait */
@media screen and (min-device-width: 481px) and (orientation:portrait) {}

/* iPad Landscape */
@media screen and (min-device-width: 481px) and (orientation:landscape) {}